/* styless.css */

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Overall page background color */
    margin: 0;
    padding: 0;
}

.header {
    background-color:white; /* Background color for the header */
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
}

#logo {
    max-width: 100px;
    margin-right: 20px; /* Add some space between the logo and heading */
}

#heading-container {
display:flex;
align-items:center;
    color: #fff; /* Text color for the heading */
    text-align: center; /* Center align the heading */
}

#heading-container h1 {
    font-size: 24px;
    margin-left: 3px;
color:#a16391
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
border: 5px solid #a16391;

}

.chat-messages {
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 10px;
    max-width: 70%;
}

.sent-message {
    align-self: flex-end;
    background-color: #DCF8C6;
    border-radius: 10px;
    padding: 10px;
}

.received-message {
    align-self: flex-start;
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 10px;
}
.message-form {
    display: flex; /* Use flexbox for layout */
}
.message-input {
flex: 1; 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
    width: calc(100% - 20px);
   margin-right: 10px; 
}

.send-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a16391;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #007bff;
;
}
